/* Dashboard App Sass File */

// Variables
$primary-font-stack: 'Avenir Regular', 'Montserrat', Arial, sans-serif;
$primary-color: #777;
$navBarAndButtonColour: #e7e7e7;

/* Application */

#app {
    font-family: $primary-font-stack;
    color: $primary-color;

    // Reduce spacing between each Horizontal Rule

    .navbar {
        margin-bottom: 0px;
        position: relative;
        background-color: #6C7A89;
        
        a {
           color: #fff; 
        }
        .navbar-nav {
            .project, .domain {
                padding-right: 20px;
                margin-top: 10px;
            }
        }
        #status {
            margin-top: 12px;
            font-size: 18px;
        }
        #login {
            position: relative;
            top: 7px;
            color: #fff;
            padding-top: 10px;
            a {
                text-decoration: underline;
                color: #fff;
            }
        }
    }
    #selectProject, #selectDomain, #loading {
        .splash-container {
            text-align: center;
            margin-top: 20%;
            font-size: 50px;
        }
    }
    #main {
        .configuration {
            .caret {
                position: absolute;
                right: 10px;
                top: 15px;
            }
            padding-top: 16px;
            background: #fff;
            margin-bottom: 20px;
            #date, #selection, #origin, #metric {
                button, .multiselect {
                    font-size: 15px;
                    color: $primary-color;
                    width: 165px;
                    margin-right: 20px;
                    position: relative;
                    text-align: center;
                    background: $navBarAndButtonColour;
                    display: inline-block;
                    padding: 6px 12px;
                    border-radius: 4px;
                    border: 0;
                    cursor: pointer;
                }
            }
            #date {
                height: 30px;
                #date-picker {
                    display: inline-block;
                    float: left;
                    height: 30px;
                }
                .date-wrap {
                    font-size: 18px;
                    #sq-startDate, #sq-endDate {
                        font-family: $primary-font-stack;
                    }
                }
            }
            #selection {
                .information {
                    padding-top: 5px;
                    font-size: 18px;
                    color: #b9b9b9;
                    font-family: $primary-font-stack;
                }
                .item {
                    background: $navBarAndButtonColour;
                    min-width: 150px;
                    border-radius: 4px;
                    margin: 0px 20px 0px 0px;
                    padding: 5px !important;
                }
                table {
                    border: none !important;
                    .name {
                        font-family: $primary-font-stack;
                        font-size: 1.1em;
                    }
                    .value, a {
                        color: $primary-color !important;
                    }
                }
            }
            #origin .multiselect:active, #metric .multiselect:active, #selection a:active {
                top: 1px;
                outline: none;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
            #dimension {
                .information {
                    padding-top: 5px;
                    font-size: 18px;
                    color: #b9b9b9;
                    font-family: $primary-font-stack;
                }
                .sortable {
                    list-style-type: none;
                    margin: 0px;
                    padding: 0px;
                    li {
                        font-family: $primary-font-stack;
                        margin: 0px 20px 0px 0px;
                        padding: 8px 7px 7px 15px;
                        float: left;
                        background: #fff;
                        font-size: 15px;
                        min-height: 40px;
                        min-width: 150px;
                        border: 1px solid #e7e7e7;
                        border-radius: 4px;
                        cursor: move;
                        position: relative;
                        text-align: center;
                        .fa {
                            position: absolute;
                            left: 9px;
                            font-size: 13px;
                            top: 11px;
                        }
                        &.ui-selected {
                            background: $navBarAndButtonColour;
                        }
                    }
                }
            }
            #total {
                color: $primary-color;
                position: relative;
                border-radius: 10px;
                .chosen-metrics {
                    list-style-type: none;
                    margin: 0px;
                    padding: 0px;
                    li {
                        font-size: 15px;
                        padding: 7px;
                        float: left;
                        min-height: 40px;
                        min-width: 150px;
                        border-radius: 4px;
                        cursor: pointer;
                        &.ui-selected {
                            background: $navBarAndButtonColour;
                        }
                    }
                    .name, .value {
                        text-align: center;
                    }
                    .name {
                        font-family: $primary-font-stack;
                    }
                    .value {
                        font-size: 18px;
                    }
                }
                table {
                    text-align: center;
                    border-radius: 5px;
                    padding: 5px;
                    border: none !important;
                }
            }
            #metric {
                margin-bottom: 10px;
            }
            #filters {
                &.in, &.collapsing {
                    margin-top: 20px;
                }
                .caret {
                    position: relative;
                    top: 0px;
                    right: 0px;
                }
            }
        }
        .main-container {
            background: #fff;
            border-top: none;
            .nav-tabs {
                li {
                    background: $navBarAndButtonColour;
                    a {
                        border-radius: 0px;
                        text-align: center;
                        margin-right: 0px;
                        color: $primary-color;
                        width: 150px;
                    }
                    &.active {
                        background: #ffffff;
                    }
                } 
            }
            .tab-content {
                position: relative;
                padding: 20px 0px 0px 0px;
                // Only preview tab to have a max height
                .active {
                    &#preview-tab {
                        min-height: 600px;
                    }
                    #tableView {
                        .filtered-by {
                            background: $navBarAndButtonColour;
                        }
                    }
                    #timeView {
                        width: 100%;
                        #chart_container {
                            .ui-slider-range {
                                background: $navBarAndButtonColour;
                            }
                        }
                    }
                    #display-selector {
                        ul {
                            &.widget-selector {
                                color: $primary-color;
                                padding: 0px;
                                li {
                                    display: inline-block;
                                    padding: 0px 20px 0px 10px;
                                    opacity: 0.3;
                                    &.active, &:hover {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                    #orderby {
                        padding: 0px 20px;
                    }
                    .sq-loading {
                        position:absolute;
                        width:100%;
                        top: 25% !important;
                        left: 0px;
                        top:0% !important;
                    }
                    .spinner {
                        margin: 100px auto;
                        width: 400px;
                        height: 100px;
                        text-align: center;
                        font-size: 10px;
                    }
                    .spinner > div {
                        margin-left:10px;
                        background-color: rgba(102, 102, 102, .5);
                        height: 100%;
                        width: 10px;
                        display: inline-block;
                        -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
                        animation: stretchdelay 1.2s infinite ease-in-out;
                    }
                    .spinner .rect2 {
                        -webkit-animation-delay: -1.1s;
                        animation-delay: -1.1s;
                    }
                    .spinner .rect3 {
                        -webkit-animation-delay: -1.0s;
                        animation-delay: -1.0s;
                    }
                    .spinner .rect4 {
                        -webkit-animation-delay: -0.9s;
                        animation-delay: -0.9s;
                    }
                    .spinner .rect5 {
                        -webkit-animation-delay: -0.8s;
                        animation-delay: -0.8s;
                    }
                    @-webkit-keyframes stretchdelay {
                        0%, 40%, 100% { 
                            -webkit-transform: scaleY(0.0) 
                        }
                        20% { 
                            -webkit-transform: scaleY(1.0) 
                        }
                    }
                    @keyframes stretchdelay {
                        0%, 40%, 100% {
                            transform: scaleY(0.0);
                            -webkit-transform: scaleY(0.0);
                        }
                        20% {
                            transform: scaleY(1.0);
                            -webkit-transform: scaleY(1.0);
                        }
                    }
                }
            }
        }
    }
}