    /* Dashboard App Sass File */

// Variables
$primary-font-stack: 'Avenir Regular', 'Montserrat', Arial, sans-serif;
$primary-color: #777;
$navBarAndButtonColour: #e7e7e7;

/* Application */

#app {
    font-family: $primary-font-stack;
    color: $primary-color;

    // Reduce spacing between each Horizontal Rule
    hr {
        margin-top: 5px;
        margin-bottom: 15px
    }

    #admin {
        position: relative;
        #adminDisplay {
            margin-top: 20px;
        }
    }

    .squid-api-data-widgets-displaytype-selector {
        display: none;
    }

    .navbar {
        margin-bottom: 0px;
        position: relative;
        a.navbar-brand {
            font-size: 20px;
        }
        .menu-link {
            padding-left: 0px;
            font-size: 20px;
            color: #4d4d4d;
        }
        .admin-switcher {
            cursor: pointer;
            font-size: 20px;
            position: relative;
            right: 10px;
            top: 13px;
            .dashboard {
                display: none;
            }
        }
        .navbar-nav {
            .project, .domain {
                padding-right: 20px;
                margin-top: 10px;
            }
        }
        #status {
            margin-top: 12px;
            font-size: 18px;
        }
        #login {
            position: relative;
            top: 7px;
            padding-top: 10px;
            a {
                text-decoration: underline;
            }
        }
    }
    #menu {
        background: #34495e;
        a {
            color: #fff;
        }
        &.panel {
            li {
                list-style-type: none;
            }
            ul {
                margin: 0px;
                padding: 0px;
                a {
                    display: block;
                    position: relative;
                    border-bottom: 2px solid #2c3e50;
                    padding: 30px 0px 30px 12px;
                    font-size: 16px;
                    font-weight: 100;
                    cursor: pointer;
                    &.selected {
                        background: #2c3e50;
                    }
                    .nav-item {
                        font-size: 22px;
                        position: absolute;
                        display: inline-block;
                        text-align: center;
                        left: 50px;
                        top: 35px;
                        width: 150px;
                    }
                }
                i {
                    padding-right: 20px;
                    font-size: 40px;
                }
            }
            position: fixed;
            left: -15.625em; /*left or right and the width of your navigation panel*/
            width: 15.625em; /*should match the above value*/
        }
        margin-top: 52px;
    }
    #selectProject, #selectDomain, #loading {
        .splash-container {
            text-align: center;
            margin-top: 20%;
            font-size: 50px;
        }
    }
    #main {
        position: relative;
        .configuration {
            .caret {
                position: absolute;
                right: 10px;
                top: 15px;
            }
            .squid-api-data-widgets-dimension-widget li, .squid-api-data-widgets-metric-widget li {
                border: 1px solid #95a5a6;
            }
            .squid-api-data-widgets-dimension-widget li {
                margin: 0px 20px 10px 0px;
            }
            background: #fff;
            #date, #selection, #origin, #metric {
                .btn-group {
                    width: 100%;
                }
                button, .multiselect {
                    position: relative;
                    vertical-align: top;
                    height: 40px;
                    width: 100%;
                    font-size: 14px;
                    color: #777;
                    text-align: center;
                    /* text-shadow: 0 1px 2px rgba(0,0,0,0.25); */
                    background: #ecf0f1;
                    border: 0;
                    border-bottom: 2px solid #bdc3c7;
                    cursor: pointer;
                    -webkit-box-shadow: inset 0 -2px #bdc3c7;
                    box-shadow: inset 0 -2px #bdc3c7;
                }
            }
            #date {
                .col-md-6 {
                    margin-top: 20px;
                }
                height: 30px;
                #date-picker {
                    display: inline-block;
                    float: left;
                    margin-top: 20px;
                    width: 100%;
                    height: 50px;
                }
                .date-wrap {
                    font-size: 18px;
                    #sq-startDate, #sq-endDate {
                        font-family: $primary-font-stack;
                    }
                }
            }
            #selection {
                .information {
                    padding-top: 5px;
                    font-size: 18px;
                    margin-bottom: 20px;
                    color: #b9b9b9;
                    font-family: $primary-font-stack;
                }
                .item {
                    background: $navBarAndButtonColour;
                    min-width: 150px;
                    border-radius: 4px;
                    margin: 0px 20px 10px 0px;
                    padding: 5px !important;
                }
                table {
                    border: none !important;
                    .name {
                        font-family: $primary-font-stack;
                        font-size: 1.1em;
                    }
                    .value, a {
                        color: $primary-color !important;
                    }
                }
            }
            #origin .multiselect:active, #metric .multiselect:active, #selection a:active {
                top: 1px;
                outline: none;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
            .squid-api-data-widgets-dimension-widget {
                .information {
                    padding-top: 5px;
                    font-size: 18px;
                    color: #b9b9b9;
                    margin-bottom: 20px;
                    font-family: $primary-font-stack;
                }
            }
            #metric {
                margin-bottom: 10px;
            }
            #filters {
                &.in, &.collapsing {
                    margin-top: 20px;
                }
                .caret {
                    position: relative;
                    top: 0px;
                    right: 0px;
                }
            }
        }
        .main-container {
            margin-top: 10px;
            padding-right: 0px;
            #tableView {
                position: relative;
                .col-xs-12 {
                    padding-right: 0px;
                }
            }
            .export-container {
                padding-left: 0px;
            }
            button.refresh-analysis {
                position: relative;
                vertical-align: top;
                margin-bottom: 15px;
                width: 100%;
                height: 40px;
                padding: 0;
                z-index: 1;
                position: relative;
                font-size: 22px;
                color: white;
                text-align: center;
                text-shadow: 0 1px 2px rgba(0,0,0,0.25);
                background: #2ecc71;
                border: 0;
                border-bottom: 2px solid #27ae60;
                cursor: pointer;
                -webkit-box-shadow: inset 0 -2px #27ae60;
                box-shadow: inset 0 -2px #27ae60;
            }
            #export {
                button {
                    position: relative;
                    vertical-align: top;
                    margin-bottom: 15px;
                    width: 100%;
                    height: 40px;
                    z-index: 1;
                    position: relative;
                    padding: 0;
                    font-size: 22px;
                    color: white;
                    text-align: center;
                    text-shadow: 0 1px 2px rgba(0,0,0,0.25);
                    background: #3498db;
                    border: 0;
                    border-bottom: 2px solid #2980b9;
                    cursor: pointer;
                    -webkit-box-shadow: inset 0 -2px #2980b9;
                    box-shadow: inset 0 -2px #2980b9;
                }
            }
            .squid-api-data-widgets-data-table a {
                cursor: pointer;
            }
            .squid-api-data-widgets-data-table td label {
                padding-right: 20px;
                font-weight: inherit;
            }
            .squid-api-data-widgets-data-table.dataTable.no-footer {
                border: none;
            }
            .squid-api-data-widgets-data-table a:active, .squid-api-data-widgets-data-table a:hover {
                color: #bd5a35;
                text-decoration:underline;
                background: #f01967;
            }
            .squid-api-data-widgets-data-table {
                color:#666;
                background:#eaebec;
                margin: 0px 0px 10px -15px;
                border: 1px solid #ccc;
                margin-top: 22px;

                -moz-border-radius:3px;
                -webkit-border-radius:3px;
                border-radius:3px;

                -moz-box-shadow: 0 1px 2px #d1d1d1;
                -webkit-box-shadow: 0 1px 2px #d1d1d1;
                box-shadow: 0 1px 2px #d1d1d1;
            }
            .squid-api-data-widgets-data-table th {
                padding:21px 25px 22px 25px;
                border-top:1px solid #fafafa;
                border-bottom:1px solid #e0e0e0;
                font-weight: inherit;
                text-align: center;
                background: #ededed;
                background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
                background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
            }
            .squid-api-data-widgets-data-table th:first-child {
                text-align: left;
                padding-left:20px;
            }
            .squid-api-data-widgets-data-table tr:first-child th:first-child {
                -moz-border-radius-topleft:3px;
                -webkit-border-top-left-radius:3px;
                border-top-left-radius:3px;
            }
            .squid-api-data-widgets-data-table tr:first-child th:last-child {
                -moz-border-radius-topright:3px;
                -webkit-border-top-right-radius:3px;
                border-top-right-radius:3px;
            }
            .squid-api-data-widgets-data-table tr {
                text-align: center;
                padding-left:20px;
            }
            .squid-api-data-widgets-data-table td:first-child {
                text-align: left;
                padding-left:20px;
                border-left: 0;
            }
            .squid-api-data-widgets-data-table td {
                border-top: 1px solid #ffffff;
                border-bottom:1px solid #e0e0e0;
                border-left: 1px solid #e0e0e0;
            }
            .squid-api-data-widgets-data-table tr.even td {
                background: #f6f6f6;
                background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
                background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
            }
            .squid-api-data-widgets-data-table tr:last-child td {
                border-bottom:0;
            }
            .squid-api-data-widgets-data-table tr:last-child td:last-child {
                -moz-border-radius-bottomright:3px;
                -webkit-border-bottom-right-radius:3px;
                border-bottom-right-radius:3px;
            }
            .squid-api-data-widgets-data-table th {
                width: 16.66%;
                padding: 10px 0px 10px 3px;
                background-color: #ffffff;
            }
                    // Only preview tab to have a max height
                    &#preview-tab {
                        min-height: 600px;
                    }
                    .squid-api-data-widgets-data-table {
                        .filtered-by {
                            background: $navBarAndButtonColour;
                        }
                    }
                    .squid-api-data-widgets-timeseries-widget {
                        .ui-slider-range {
                            background: $navBarAndButtonColour;
                        }
                    }
                    .squid-api-data-widgets-displaytype-selector {
                        color: $primary-color;
                    }
                    .squid-api-data-widgets-export-widget {
                        hr {
                            margin-top: 20px;
                        }
                    }
                    .sq-loading {
                        position:absolute;
                        width:100%;
                        top: 25% !important;
                        left: 0px;
                        top:0% !important;
                    }
                    .spinner {
                        margin: 100px auto;
                        width: 400px;
                        height: 100px;
                        text-align: center;
                        font-size: 10px;
                    }
                    .spinner > div {
                        margin-left:10px;
                        background-color: rgba(102, 102, 102, .5);
                        height: 100%;
                        width: 10px;
                        display: inline-block;
                        -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
                        animation: stretchdelay 1.2s infinite ease-in-out;
                    }
                    .spinner .rect2 {
                        -webkit-animation-delay: -1.1s;
                        animation-delay: -1.1s;
                    }
                    .spinner .rect3 {
                        -webkit-animation-delay: -1.0s;
                        animation-delay: -1.0s;
                    }
                    .spinner .rect4 {
                        -webkit-animation-delay: -0.9s;
                        animation-delay: -0.9s;
                    }
                    .spinner .rect5 {
                        -webkit-animation-delay: -0.8s;
                        animation-delay: -0.8s;
                    }
                    @-webkit-keyframes stretchdelay {
                        0%, 40%, 100% { 
                            -webkit-transform: scaleY(0.0) 
                        }
                        20% { 
                            -webkit-transform: scaleY(1.0) 
                        }
                    }
                    @keyframes stretchdelay {
                        0%, 40%, 100% {
                            transform: scaleY(0.0);
                            -webkit-transform: scaleY(0.0);
                        }
                        20% {
                            transform: scaleY(1.0);
                            -webkit-transform: scaleY(1.0);
                        }
            }
        }
    }
}
