    /* Dashboard App Sass File */

// Variables
$primary-font-stack: 'Avenir Regular', 'Montserrat', Arial, sans-serif;
$primary-color: #777;
$navBarAndButtonColour: #e7e7e7;

/* Application */
#app {
    font-family: $primary-font-stack;
    color: $primary-color;
    -webkit-font-smoothing: antialiased;

    // Reduce spacing between each Horizontal Rule
    hr {
        margin-top: 5px;
        margin-bottom: 15px;
        
        &.flat {
            margin: 0px;
            padding: 0px;
        }
    }

    .panel-heading {
        display: none;
    }

    #admin {
        position: relative;
        #adminDisplay {
            margin-top: 20px;
        }
    }

    .squid-api-data-widgets-displaytype-selector {
        display: none;
    }

    .navbar {
        margin-bottom: 0px;
        position: relative;
        a.navbar-brand {
            font-size: 20px;
        }
        .menu-link {
            padding-left: 0px;
            font-size: 20px;
            color: #4d4d4d;
        }
        .admin-switcher {
            cursor: pointer;
            font-size: 20px;
            position: relative;
            right: 10px;
            top: 13px;
            .dashboard {
                display: none;
            }
        }
        .navbar-nav {
            .project, .domain {
                padding-right: 20px;
                margin-top: 10px;
            }
        }
        #status {
            margin-top: 12px;
            font-size: 18px;
        }
        #login {
            position: relative;
            top: 7px;
            padding-top: 10px;
            a {
                text-decoration: underline;
            }
        }
    }
    #menu {
        background: #34495e;
        margin-top: 49px;
        border-radius: 0px;
        a {
            color: #fff;
        }
        &.panel {
            li {
                list-style-type: none;
            }
            ul {
                margin: 0px;
                padding: 0px;
                a {
                    display: block;
                    position: relative;
                    border-bottom: 2px solid #2c3e50;
                    padding: 30px 0px 30px 12px;
                    font-size: 16px;
                    font-weight: 100;
                    cursor: pointer;
                    &.selected {
                        background: #2c3e50;
                    }
                    .nav-item {
                        font-size: 22px;
                        position: absolute;
                        display: inline-block;
                        text-align: center;
                        left: 50px;
                        top: 35px;
                        width: 150px;
                    }
                }
                i {
                    padding-right: 20px;
                    font-size: 40px;
                }
            }
            position: fixed;
            left: -15.625em; /*left or right and the width of your navigation panel*/
            width: 15.625em; /*should match the above value*/
        }
        margin-top: 52px;
    }
    #selectProject, #selectDomain, #loading {
        .splash-container {
            text-align: center;
            margin-top: 20%;
            font-size: 50px;
        }
    }
    #main {
        position: relative;
        .configuration {
            #filters {
                dt {
                    margin-top: 8px;
                }
            }
            .export-container {
                padding: 0px;
                .squid-api-data-widgets-export-widget {
                    padding: 0px;
                    .filter-panel {
                        border-radius: 0px;

                        .panel-body {
                            padding: 15px;
                            background: #f3f3f3;
                            border: none;
                            hr {
                                border-color: #d9d9d9;
                                margin-top: 15px;
                            }
                            pre {
                                background-color: #fff;
                            }
                            .btn-default {
                                cursor: pointer;
                                color: #777;
                                border-radius: 4px;
                                border: 1px solid #e7e7e7;
                                position: relative;
                                vertical-align: top;
                                height: 41px;
                                width: 195px;
                                font-size: 18px;
                                color: #fff;
                                text-align: center;
                                background: #3498db;
                                border-bottom: 2px solid #2980b9;
                                cursor: pointer;
                                -webkit-box-shadow: inset 0 -2px #2980b9;
                                box-shadow: inset 0 -2px #2980b9;
                            }
                            .download-formats {
                                label {
                                    margin-right: 5px;
                                    margin-left: 15px;
                                }
                                background: #fff;
                                border-radius: 10px;
                                padding: 5px 16px 5px 0px;
                                padding-top: 10px;
                            }
                        }
                    }
                }
            }
            .caret {
                position: absolute;
                right: 10px;
                top: 15px;
            }
            .squid-api-data-widgets-dimension-widget li, .squid-api-data-widgets-metric-widget li {
                border: 1px solid #95a5a6;
            }
            .squid-api-data-widgets-dimension-widget li {
                margin: 0px 20px 10px 0px;
            }
            background: #fff;
            #date, #selection, #origin, #metric {
                .btn-group {
                    width: 100%;
                }
                button, .multiselect {
                    position: relative;
                    vertical-align: top;
                    height: 40px;
                    width: 100%;
                    font-size: 14px;
                    color: #777;
                    text-align: center;
                    /* text-shadow: 0 1px 2px rgba(0,0,0,0.25); */
                    background: #ecf0f1;
                    border: 0;
                    border-bottom: 2px solid #bdc3c7;
                    cursor: pointer;
                    -webkit-box-shadow: inset 0 -2px #bdc3c7;
                    box-shadow: inset 0 -2px #bdc3c7;
                }
            }
            #date {
                .col-md-6 {
                    margin-top: 20px;
                    display: inline-block;
                }
                height: 30px;
                #date-picker {
                    display: inline-block;
                    float: left;
                    margin-top: 20px;
                    width: 100%;
                    height: 50px;
                }
                .date-wrap {
                    font-size: 18px;
                    #sq-startDate, #sq-endDate {
                        font-family: $primary-font-stack;
                    }
                }
            }
            #selection {
                .col-md-9 {
                    display: inline-block;
                }
                .information {
                    padding-top: 5px;
                    font-size: 18px;
                    margin-bottom: 20px;
                    color: #b9b9b9;
                    font-family: $primary-font-stack;
                }
                .item {
                    background: #fff;
                    min-width: 150px;
                    border-radius: 4px;
                    border: 1px solid #95a5a6;
                    margin: 0px 20px 10px 0px;
                    padding: 5px !important;
                }
                table {
                    border: none !important;
                    width: 100%;
                    .name {
                        font-family: $primary-font-stack;
                        font-size: 1.1em;
                    }
                    .value, a {
                        color: $primary-color !important;
                    }
                }
            }
            #origin .multiselect:active, #metric .multiselect:active, #selection a:active {
                top: 1px;
                outline: none;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
            .squid-api-data-widgets-dimension-widget {
                .information {
                    padding-top: 5px;
                    font-size: 18px;
                    color: #b9b9b9;
                    margin-bottom: 20px;
                    font-family: $primary-font-stack;
                }
            }
            #metric {
                margin-bottom: 10px;
            }
            #filters {
                &.in, &.collapsing {
                    margin-top: 20px;
                }
                .caret {
                    position: relative;
                    top: 0px;
                    right: 0px;
                }
            }
        }
        .main-container {
            margin-top: 20px;
            padding-right: 0px;
            .orderby-col {
                padding-left: 0px;
            }
            #tableView {
                position: relative;

                .blur {
                    -webkit-filter: blur(2px);
                    -moz-filter: blur(2px);
                    -o-filter: blur(2px);
                    -ms-filter: blur(2px);
                    filter: blur(2px);
                }
                .col-xs-12 {
                    padding-right: 0px;
                }
            }
            button.refresh-analysis {
                position: relative;
                vertical-align: top;
                margin-bottom: 15px;
                min-width: 210px;
                width: 100%;
                height: 40px;
                &.first-view {
                    -webkit-animation-name: greenPulse;
                    -webkit-animation-duration: 1s;
                    -webkit-animation-iteration-count: infinite;
                    -moz-animation-name: greenPulse;
                    -moz-animation-duration: 1s;
                    -moz-animation-iteration-count: infinite;
                }
                padding: 0;
                z-index: 1;
                position: relative;
                font-size: 18px;
                color: white;
                text-align: center;
                text-shadow: 0 1px 2px rgba(0,0,0,0.25);
                background: #2ecc71;
                border: 0;
                border-bottom: 2px solid #27ae60;
                cursor: pointer;
                -webkit-box-shadow: inset 0 -2px #27ae60;
                box-shadow: inset 0 -2px #27ae60;

                &.dataUpdated {
                    opacity: 0.5;
                }

                .glyphicon {
                    top: 3px;
                    right: -15px;

                    &.loading {
                        -moz-animation: spin .7s infinite linear;
                        -webkit-animation: spin .7s infinite linear;
                    }
                }
            }
            #export {
                button {
                    position: relative;
                    vertical-align: top;
                    margin-bottom: 15px;
                    width: 100%;
                    min-width: 135px;
                    height: 40px;
                    z-index: 1;
                    position: relative;
                    padding: 0;
                    font-size: 18px;
                    color: white;
                    text-align: center;
                    text-shadow: 0 1px 2px rgba(0,0,0,0.25);
                    background: #3498db;
                    border: 0;
                    border-bottom: 2px solid #2980b9;
                    cursor: pointer;
                    -webkit-box-shadow: inset 0 -2px #2980b9;
                    box-shadow: inset 0 -2px #2980b9;

                    .glyphicon {
                        top: 2px;
                        right: -25px;
                    }
                }
            }
            .squid-api-data-widgets-data-table {
                a {
                    cursor: pointer;
                }
                .dataTable {
                    .NUMBER {
                        text-align: center;
                    }
                }
            }
            .squid-api-data-widgets-data-table td label {
                padding-right: 20px;
                font-weight: inherit;
            }
            .squid-api-data-widgets-data-table.dataTable.no-footer {
                border: none;
            }
            .squid-api-data-widgets-data-table a:active, .squid-api-data-widgets-data-table a:hover {
                color: #bd5a35;
                text-decoration:underline;
                background: #f01967;
            }
            .squid-api-data-widgets-orderby-widget .onoffswitch-inner:before, .squid-api-data-widgets-orderby-widget .onoffswitch-inner:after {
                background-color: #fff;
                color: #777;
            }
            .squid-api-data-widgets-data-table, .noDataInTable {
                color:#666;
                background:#eaebec;
                margin: 0px 0px 10px -15px;
                border: 1px solid #ccc;
                margin-top: 22px;

                -moz-border-radius:3px;
                -webkit-border-radius:3px;
                border-radius:3px;

                -moz-box-shadow: 0 1px 2px #d1d1d1;
                -webkit-box-shadow: 0 1px 2px #d1d1d1;
                box-shadow: 0 1px 2px #d1d1d1;
            }
            .noDataInTable {
                font-size: 18px;
                height: 200px;
                color: #b9b9b9;
                line-height: 30px;
                text-align: center;
                margin-top: 9px;
                i {
                    font-size: 60px;
                    margin-top: 60px;
                }
            }
            .squid-api-data-widgets-data-table th {
                padding:21px 25px 22px 25px;
                border-top:1px solid #fafafa;
                border-bottom:1px solid #e0e0e0;
                font-weight: inherit;
                text-align: center;
                background: #ededed;
                background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
                background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
            }
            .squid-api-data-widgets-data-table th:first-child {
                text-align: left;
                padding-left:20px;
            }
            .squid-api-data-widgets-data-table tr:first-child th:first-child {
                -moz-border-radius-topleft:3px;
                -webkit-border-top-left-radius:3px;
                border-top-left-radius:3px;
            }
            .squid-api-data-widgets-data-table tr:first-child th:last-child {
                -moz-border-radius-topright:3px;
                -webkit-border-top-right-radius:3px;
                border-top-right-radius:3px;
            }
            .squid-api-data-widgets-data-table tr {
                text-align: center;
                padding-left:20px;
            }
            .squid-api-data-widgets-data-table td:first-child {
                text-align: left;
                padding-left:20px;
                border-left: 0;
            }
            .squid-api-data-widgets-data-table td {
                border-top: 1px solid #ffffff;
                border-bottom:1px solid #e0e0e0;
                border-left: 1px solid #e0e0e0;
                text-align: center;
            }
            .squid-api-data-widgets-data-table tr.even td {
                background: #f6f6f6;
                background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
                background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
            }
            .squid-api-data-widgets-data-table tr:last-child td {
                border-bottom:0;
            }
            .squid-api-data-widgets-data-table tr:last-child td:last-child {
                -moz-border-radius-bottomright:3px;
                -webkit-border-bottom-right-radius:3px;
                border-bottom-right-radius:3px;
            }
            .squid-api-data-widgets-data-table th {
                width: 16.66%;
                padding: 10px 0px 10px 3px;
                background-color: #ffffff;
            }
            .squid-api-data-widgets-data-table {
                .filtered-by {
                    background: $navBarAndButtonColour;
                }
            }
            .squid-api-data-widgets-timeseries-widget {
                .ui-slider-range {
                    background: $navBarAndButtonColour;
                }
            }
            .squid-api-data-widgets-displaytype-selector {
                color: $primary-color;
            }
            .sq-loading {
                position:absolute;
                width:100%;
                top: 25% !important;
                left: 0px;
                top:0% !important;
            }
            .spinner {
                margin: 100px auto;
                width: 400px;
                height: 100px;
                text-align: center;
                font-size: 10px;
            }
            .spinner > div {
                margin-left:10px;
                background-color: rgba(102, 102, 102, .5);
                height: 100%;
                width: 10px;
                display: inline-block;
                -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
                animation: stretchdelay 1.2s infinite ease-in-out;
            }
            .spinner .rect2 {
                -webkit-animation-delay: -1.1s;
                animation-delay: -1.1s;
            }
            .spinner .rect3 {
                -webkit-animation-delay: -1.0s;
                animation-delay: -1.0s;
            }
            .spinner .rect4 {
                -webkit-animation-delay: -0.9s;
                animation-delay: -0.9s;
            }
            .spinner .rect5 {
                -webkit-animation-delay: -0.8s;
                animation-delay: -0.8s;
            }
            @-webkit-keyframes stretchdelay {
                0%, 40%, 100% { 
                    -webkit-transform: scaleY(0.0) 
                }
                20% { 
                    -webkit-transform: scaleY(1.0) 
                }
            }
            @keyframes stretchdelay {
                0%, 40%, 100% {
                    transform: scaleY(0.0);
                    -webkit-transform: scaleY(0.0);
                }
                20% {
                    transform: scaleY(1.0);
                    -webkit-transform: scaleY(1.0);
                }
            }
            @-moz-keyframes spin {
                0% {
                    -moz-transform: rotate(0deg);
                }
                100% {
                    -moz-transform: rotate(360deg);
                };
            }

            @-moz-keyframes spinoff {
                0% {
                    -moz-transform: rotate(0deg);
                }
                100% {
                    -moz-transform: rotate(-360deg);
                };
            }

            @-webkit-keyframes spin {
                0% {
                    -webkit-transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                };
            }

            @-webkit-keyframes spinoff {
                0% {
                    -webkit-transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(-360deg);
                };
            }
            @-webkit-keyframes greenPulse {
                from { 
                    background-color: #2ecc71; 
                    -webkit-box-shadow: 0 0 2px #999; 
                }
                50% { 
                    background-color: #27ae60; 
                    -webkit-box-shadow: 0 0 5px #2ecc71; 
                }
                to { 
                    background-color: #2ecc71; 
                    -webkit-box-shadow: 0 0 2px #999; 
                }
            }
            @-moz-keyframes greenPulse {
                from { 
                    background-color: #2ecc71; 
                    -webkit-box-shadow: 0 0 2px #999; 
                }
                50% { 
                    background-color: #27ae60; 
                    -webkit-box-shadow: 0 0 5px #2ecc71; 
                }
                to { 
                    background-color: #2ecc71; 
                    -webkit-box-shadow: 0 0 2px #999; 
                }
            }
        }
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
    -webkit-font-smoothing: subpixel-antialiased;
}
